{name, "erlmongo"}.
{authors, ["Sergej Jurečko <sergej.jurecko@wpn.tv>"]}.
{description, "Record based Erlang driver for MongoDB with gridfs support"}.
{homepage, "https://github.com/wpntv/erlmongo"}.
{rebar_compatible, true}.
{license, "Apache License 2.0", "LICENSE.txt"}.
{url, {git, "https://github.com/wpntv/erlmongo.git", {branch, "master"}}}.
{applications, [erlmongo]}.
